.Rproj.user

# Acoustic files
*.bot
*.raw
*.idx
*.evi
*.evwx
*.evb


# files created/updated during testing
data-raw/ELA_TEST/fishtracks.csv
data-raw/ELA_TEST/intg.csv
data-raw/ELA_TEST/single_targets_transect.csv
*.EV
*.ecs
